pkgbase = wine-lol-glibc
	pkgdesc = GNU C Library patched for wine-lol
	pkgver = 2.35
	pkgrel = 1
	url = https://www.gnu.org/software/libc
	arch = x86_64
	license = GPL
	license = LGPL
	makedepends = git
	makedepends = gd
	makedepends = lib32-gcc-libs
	makedepends = python
	depends = linux-api-headers>=4.10
	depends = tzdata
	depends = filesystem
	optdepends = gd: for memusagestat
	options = !strip
	options = staticlibs
	options = !lto
	source = https://ftp.gnu.org/gnu/glibc/glibc-2.35.tar.xz
	source = wine-lol-poc1-glibc.diff::https://bugs.winehq.org/attachment.cgi?id=64482
	md5sums = dd571c67d85d89d7f60b854a4e207423
	md5sums = 65e6d204ab9ad787c8dce999c4ba5c17

pkgname = wine-lol-glibc
