pkgbase = wine-lol-bin
	pkgdesc = A compatibility layer for running Windows programs - GloriousEggroll custom wine build for running League of Legends
	pkgver = 7.14_1
	pkgrel = 1
	url = https://github.com/GloriousEggroll/wine-ge-custom
	install = wine.install
	arch = x86_64
	license = LGPL
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = lcms2
	depends = lib32-lcms2
	depends = libxml2
	depends = lib32-libxml2
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxdamage
	depends = lib32-libxdamage
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = glu
	depends = lib32-glu
	depends = libsm
	depends = lib32-libsm
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = faudio
	depends = lib32-faudio
	depends = desktop-file-utils
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = libpng
	optdepends = lib32-libpng
	optdepends = libldap
	optdepends = lib32-libldap
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = mpg123
	optdepends = lib32-mpg123
	optdepends = openal
	optdepends = lib32-openal
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libjpeg-turbo
	optdepends = lib32-libjpeg-turbo
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libxslt
	optdepends = lib32-libxslt
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = vkd3d
	optdepends = lib32-vkd3d
	optdepends = sane
	optdepends = libgphoto2
	optdepends = gsm
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	provides = wine-lol
	conflicts = wine-lol
	options = staticlibs
	options = !lto
	options = !strip
	source = https://github.com/GloriousEggroll/wine-ge-custom/releases/download/7.14-GE-1-LoL/wine-lutris-ge-lol-7.14-1-x86_64.tar.xz
	source = 30-win32-aliases.conf
	sha512sums = 5c3241aea22e679b7faac7dd29a2c591c98a93bc48ed894fe6e09074bf90d322421421c696ea6cf04db6730a68bc5fe0f15cc3ccd80d0c0b95143b3d00e2a91b
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb

pkgname = wine-lol-bin
