pkgbase = wine-lol-bin
	pkgdesc = A compatibility layer for running Windows programs - GloriousEggroll custom wine build for running League of Legends
	pkgver = 8_27
	pkgrel = 1
	epoch = 3
	url = https://github.com/GloriousEggroll/wine-ge-custom
	install = wine.install
	arch = x86_64
	license = LGPL
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = sane
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	provides = wine-lol
	conflicts = wine-lol
	options = staticlibs
	options = !lto
	options = !strip
	source = https://github.com/GloriousEggroll/wine-ge-custom/releases/download/GE-Proton8-27-LoL/wine-lutris-GE-Proton8-27-LoL-x86_64.tar.xz
	source = 30-win32-aliases.conf
	sha512sums = 3d83d5b2658e0e09ce511113439b497f4276e9c4a3260309dbda46599b6b7aaa95b0f139863bac29cd5f8ebaa3600d56f3a4b6479833acf665040d2121346d48
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb

pkgname = wine-lol-bin
