pkgbase = wine-lol-bin
	pkgdesc = A compatibility layer for running Windows programs - GloriousEggroll custom wine build for running League of Legends
	pkgver = p8_12
	pkgrel = 1
	epoch = 2
	url = https://github.com/GloriousEggroll/wine-ge-custom
	install = wine.install
	arch = x86_64
	license = LGPL
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = sane
	optdepends = libgphoto2
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	provides = wine-lol
	conflicts = wine-lol
	options = staticlibs
	options = !lto
	options = !strip
	source = https://github.com/GloriousEggroll/wine-ge-custom/releases/download/GE-LOL-p8-12/wine-lutris-ge-lol-p8-12-x86_64.tar.xz
	source = 30-win32-aliases.conf
	sha512sums = 6e4c9a79d6d8255c7fe2de2081d39c4dace45fb27a21ddae8eb3789a191bde85bedbfee2e6a8bc227c4c578912dbf93ec860de649bed1b84038c3261b3a3af9c
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb

pkgname = wine-lol-bin
