pkgbase = wine-lol
	pkgdesc = A compatibility layer for running Windows programs - Staging branch with League Of Legends fixes
	pkgver = 6.10
	pkgrel = 1
	url = http://www.wine-staging.com
	install = wine.install
	arch = x86_64
	license = LGPL
	makedepends = autoconf
	makedepends = ncurses
	makedepends = bison
	makedepends = perl
	makedepends = fontforge
	makedepends = flex
	makedepends = gcc>=4.5.0-2
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = libpng
	makedepends = lib32-libpng
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxmu
	makedepends = lib32-libxmu
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = libldap
	makedepends = lib32-libldap
	makedepends = mpg123
	makedepends = lib32-mpg123
	makedepends = openal
	makedepends = lib32-openal
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libxslt
	makedepends = lib32-libxslt
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = vkd3d
	makedepends = lib32-vkd3d
	makedepends = sane
	makedepends = libgphoto2
	makedepends = gsm
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = lcms2
	depends = lib32-lcms2
	depends = libxml2
	depends = lib32-libxml2
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxdamage
	depends = lib32-libxdamage
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = glu
	depends = lib32-glu
	depends = libsm
	depends = lib32-libsm
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = wine-lol-glibc
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = libpng
	optdepends = lib32-libpng
	optdepends = libldap
	optdepends = lib32-libldap
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = mpg123
	optdepends = lib32-mpg123
	optdepends = openal
	optdepends = lib32-openal
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libjpeg-turbo
	optdepends = lib32-libjpeg-turbo
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = ncurses
	optdepends = lib32-ncurses
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libxslt
	optdepends = lib32-libxslt
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = vkd3d
	optdepends = lib32-vkd3d
	optdepends = sane
	optdepends = libgphoto2
	optdepends = gsm
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	options = staticlibs
	source = https://dl.winehq.org/wine/source/6.x/wine-6.10.tar.xz
	source = wine-staging-v6.10.tar.gz::https://github.com/wine-staging/wine-staging/archive/v6.10.tar.gz
	source = 30-win32-aliases.conf
	source = wine-lol-output-syscalls.patch::https://bugs.winehq.org/attachment.cgi?id=70530&action=diff&context=patch&collapsed=&headers=1&format=raw
	source = wine-lol-bug-47198-fix.patch
	sha512sums = f0e8f0bdab09c979772965d167d687e88998f3fd6537a592e201a2dc9097552e03b1c413516cc8c82665a8bf17580777f48bd1ed9033641f04e7ef7f0b29cc60
	sha512sums = 9ba4fb7451f675fd9ad3e872adada708e9e7e8875f69567d9f2bef2cc8024667112538a385769eac2fd4b3c157266488458e76a1abc92d0a76109ca032103bcf
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = 5441aa32244b552b1a044f87c4b935239c2df145d4b03feb92716ee6bd141c30690a496e29dffa643d4e5e292d76b16bb7dd123d4703b50b49a88a151c77ad34
	sha512sums = b1f0096e9cdb660725aad620ac54b002979e73eeb4e36e4d0a4654a335f314399b960628cfd17f13398ffc65a6aca12d686d3e0317411af6e46283a5a5af425a

pkgname = wine-lol
