pkgbase = wine-lol
	pkgdesc = A compatibility layer for running Windows programs - Wine Tk-Glitch with League Of Legends fixes
	pkgver = 5.18
	pkgrel = 1
	url = https://github.com/M-Reimer/wine-lol
	install = wine.install
	arch = x86_64
	license = LGPL
	makedepends = autoconf
	makedepends = ncurses
	makedepends = bison
	makedepends = perl
	makedepends = fontforge
	makedepends = flex
	makedepends = gcc>=4.5.0-2
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = libpng
	makedepends = lib32-libpng
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxmu
	makedepends = lib32-libxmu
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = libldap
	makedepends = lib32-libldap
	makedepends = mpg123
	makedepends = lib32-mpg123
	makedepends = openal
	makedepends = lib32-openal
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libxslt
	makedepends = lib32-libxslt
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = vkd3d
	makedepends = lib32-vkd3d
	makedepends = sane
	makedepends = libgphoto2
	makedepends = gsm
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = lcms2
	depends = lib32-lcms2
	depends = libxml2
	depends = lib32-libxml2
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxdamage
	depends = lib32-libxdamage
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = glu
	depends = lib32-glu
	depends = libsm
	depends = lib32-libsm
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = wine-lol-glibc
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = libpng
	optdepends = lib32-libpng
	optdepends = libldap
	optdepends = lib32-libldap
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = mpg123
	optdepends = lib32-mpg123
	optdepends = openal
	optdepends = lib32-openal
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libjpeg-turbo
	optdepends = lib32-libjpeg-turbo
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = ncurses
	optdepends = lib32-ncurses
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libxslt
	optdepends = lib32-libxslt
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = vkd3d
	optdepends = lib32-vkd3d
	optdepends = sane
	optdepends = libgphoto2
	optdepends = gsm
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	options = staticlibs
	source = wine-tkg-5.18.tar.gz::https://github.com/Tk-Glitch/wine-tkg/archive/e379f968e8c8e693be4330bfa5ac03595e7ed1ce.tar.gz
	source = 30-win32-aliases.conf
	source = wine-lol-autoconf-2.70.patch
	source = wine-lol-bug-47198-fix.patch
	source = 0001-Updated-wow64cpu-Wow64Transition-patchset.patch
	source = 0001-ntdll-Stub-NtQueryInformationThread-ThreadHideFromDe.patch
	source = 0001-Revert-winex11.drv-Update-_NET_WM_STATE-before-resiz.patch
	source = 0001-Fix-ldap_connect-name-conflict.patch
	sha512sums = 85ea388e711b2a659b37233bcfd423d6bed3a56190d6cff3a9465eb8c0590cbc73b69479ec25749d43be9de7d8a37833e1c5c5f908d8e3c69f131ffa79dcbde3
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = 8c8b7932573b028b58653dce0d307bcdd2910309e5c137c27ddcdfaa07aa46337b85c288e1fa67fde8dea75a67b632bbd5288e3abd5df06eea5b37a87ec7a1e8
	sha512sums = e8207a4cf79fe83c20d6f2257b469127baf81876f3de240a24744b23ab1c2b0b523afae6acb1fc95edfc1e2cb5db34adea87e36047455b82f42b29228681b9d5
	sha512sums = 78680db42591fc882c50c4fc5156a1d3db915d71b8982b42b2affc6701d55bc5dacfd2d7a435a7b1424f9480b1e2db332321d9b4dae7122a3a0ad1efdcbe1d59
	sha512sums = 68c027c748faf1ea86c4b01f2decadb3240d1e98f1f16a9fc6f6a841bb5240efc91237e77aedd188c450b6f47e1ca89620ef924ec44e3f0bc2c9097361c1ac08
	sha512sums = ff6ea107598bd681bb5534d977e2f40fe8104bcf53148284fdd2be14f67db1dfe6d8176ff8200fc982ab3902c28e4186876c4d1870fd7362d98e8b3b6d8efe31
	sha512sums = 9be470762bfa4bf098e919bf94210103e1e9147693e74bfbc88fa539b3d1c8bd2da017005380dbe21ace39cc4fa949e923b3682cb9265d61bbd0e2f988562dbd

pkgname = wine-lol
