pkgbase = wine-lol
	pkgdesc = A compatibility layer for running Windows programs - GloriousEggroll custom wine build for running League of Legends
	pkgver = 7.14
	pkgrel = 1
	url = https://github.com/GloriousEggroll/wine
	install = wine.install
	arch = x86_64
	license = LGPL
	makedepends = autoconf
	makedepends = bison
	makedepends = perl
	makedepends = fontforge
	makedepends = flex
	makedepends = mingw-w64-gcc
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = libpng
	makedepends = lib32-libpng
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxmu
	makedepends = lib32-libxmu
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = libldap
	makedepends = lib32-libldap
	makedepends = mpg123
	makedepends = lib32-mpg123
	makedepends = openal
	makedepends = lib32-openal
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libxslt
	makedepends = lib32-libxslt
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = vkd3d
	makedepends = lib32-vkd3d
	makedepends = libcups
	makedepends = lib32-libcups
	makedepends = sane
	makedepends = libgphoto2
	makedepends = gsm
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = lcms2
	depends = lib32-lcms2
	depends = libxml2
	depends = lib32-libxml2
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxdamage
	depends = lib32-libxdamage
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = glu
	depends = lib32-glu
	depends = libsm
	depends = lib32-libsm
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = faudio
	depends = lib32-faudio
	depends = desktop-file-utils
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = libpng
	optdepends = lib32-libpng
	optdepends = libldap
	optdepends = lib32-libldap
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = mpg123
	optdepends = lib32-mpg123
	optdepends = openal
	optdepends = lib32-openal
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libjpeg-turbo
	optdepends = lib32-libjpeg-turbo
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libxslt
	optdepends = lib32-libxslt
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = vkd3d
	optdepends = lib32-vkd3d
	optdepends = sane
	optdepends = libgphoto2
	optdepends = gsm
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	options = staticlibs
	options = !lto
	source = wine-lol-7.14.tar.gz::https://github.com/GloriousEggroll/wine/archive/08c12b497c8f4ca2f6dc4f1c0536b087dce25780.tar.gz
	source = 30-win32-aliases.conf
	sha512sums = 3689b907757aff8901f0d27d5cdbbfc230862e711b4687bb16dfa619d9a2ab30cb4565dc75b75a8d88f24a4653085d0504ca17922390bd5b5acd00031a11e156
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb

pkgname = wine-lol
